.cycle-select-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cycle-select-item-tag {
  color: var(--ant-error-color);
  margin-left: 8px;
}

.cycle-select-item-tag-purple {
  color: #531dab;
}

.cycle-select-item-tag-orange {
  color: #fa7528;
}

.cycle-select-item-tag-green {
  color: #2AC88F;
}